
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("b6404e27-fb36-45a1-b5d2-bbd588640d9b"))
    .Children()
    .Where(x => x.IsVisible());
}

<div class="our-services">
    <div class="our-services-container">
        <div class="our-services-content">
            <div class="our-services-title">
                <span>@Model?.Value("ourServicesSubTitle")</span>
                @Model?.Value("ourServicesTitle")
            </div>
            <div class="our-services-items">
                	@foreach (var item in selection)
                    {
                        var image = item?.Value<IPublishedContent>("serviceItemImage")?.Url() ?? "";
                        var text = item?.Value<string>("serviceItemText4") ?? "";
                        <a href="@item.Url()" class="our-services-item">
                            <div class="services-item-title">
                                @item.Name()
                            </div>
                            <img src="@image" alt="@item.Name() service image">
                            <div class="services-item-text">
                                @text
                            </div>
                        </a>
                    }
            </div>
        </div>
    </div>
</div>