<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a9d609e-bb2c-4d1d-aa8c-8960817b93ea" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ntod54bx/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>