<?xml version="1.0" encoding="utf-8"?>
<Media Key="a33d4288-be8f-4b28-97b2-0d377cbb9a06" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pl5j4qmu/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>