<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0dbb1fc-c2da-42b3-8a83-e77577dc8617" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:30</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/byghsiwb/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>