<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa6e1243-5670-4287-b9ab-c1c20f1a4d5e" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:30</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wgxnygdl/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>