<?xml version="1.0" encoding="utf-8"?>
<Media Key="9355eb93-4995-4f05-994c-ebbd60b654b7" Alias="Background Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackgroundImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-13T04:07:27</CreateDate>
    <NodeName Default="Background Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>