<?xml version="1.0" encoding="utf-8"?>
<Media Key="6de523a7-ad6c-4ddd-9ded-c3b51ed1e366" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:30</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kwpepd1x/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>