<?xml version="1.0" encoding="utf-8"?>
<Media Key="08cd9801-14a2-43b4-8b3d-f5cf9f08ab5f" Alias="breadcrumb-right.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/breadcrumbRightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="breadcrumb-right.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4msh50vz/breadcrumb-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>