<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cf9b871-8bbf-4f80-90cd-40a81cce1c5b" Alias="breadcrumb-left.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/breadcrumbLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:30</CreateDate>
    <NodeName Default="breadcrumb-left.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qmcfx5ve/breadcrumb-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>