<?xml version="1.0" encoding="utf-8"?>
<Media Key="50e88220-ab9b-4ea0-a80d-f452291ae589" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0i5fvmua/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>