<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f13f581-fc4b-4c64-9663-76ea6755ff15" Alias="Group.svg" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/Groupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="Group.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oneldlkq/group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>