<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed83aa21-408b-471d-a16b-ab32dd0e7141" Alias="image-23-min 1.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/image23Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="image-23-min 1.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vzqmkw5c/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>