<?xml version="1.0" encoding="utf-8"?>
<Media Key="30bbfdac-ffe1-4f9d-8c5c-30e7668a1957" Alias="image-21-min 2.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/image21Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="image-21-min 2.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/em1p1bui/image-21-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>