<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7222127-5a26-4b33-882c-55feca4927a3" Alias="image-106 1.png" Level="2">
  <Info>
    <Parent Key="dba37e62-9ec8-4444-aa72-84b9c506eae3">Team Images</Parent>
    <Path>/TeamImages/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:15:52</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vdvhiykp/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>