<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fec5d3f-ace3-4a13-a47a-ed76f9003576" Alias="image-21-min 1.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/image21Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="image-21-min 1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wcllv4mk/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>