<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad69cb91-bf40-4398-b157-a3949ebd4c59" Alias="image-24-min 2.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/image24Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="image-24-min 2.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dyad4gzj/image-24-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>