<?xml version="1.0" encoding="utf-8"?>
<Media Key="de4b1aa3-546a-4b3f-bbef-8cbcfc43480f" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ftia00ad/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>