<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b" Alias="Item Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ItemImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-13T04:08:10</CreateDate>
    <NodeName Default="Item Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>