<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7c8c01a-ac74-42bf-bfaf-e91a89b006a2" Alias="kevin-gardner.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:14</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sufi22i3/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>