<?xml version="1.0" encoding="utf-8"?>
<Media Key="62935a7b-e134-4956-9231-06089e8706e8" Alias="Logo.svg" Level="2">
  <Info>
    <Parent Key="af9012a2-9f02-47a6-9419-065590fca696">Logo Images</Parent>
    <Path>/LogoImages/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-13T04:16:20</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhtddabp/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>