<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5379bc3-f6ef-47cc-9fa8-6d8cd5c45a58" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:14</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jrihcq2g/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>