<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a323521-b3a6-48f5-9e5d-009c5f704fae" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:14</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v15hjlgp/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>