<?xml version="1.0" encoding="utf-8"?>
<Media Key="9da94b4e-52e6-41de-9f16-5052335941a4" Alias="pj4.png" Level="2">
  <Info>
    <Parent Key="4e7722ff-2c4d-48fa-8ad6-cbb9592eca1b">Item Images</Parent>
    <Path>/ItemImages/pj4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:19:15</CreateDate>
    <NodeName Default="pj4.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ygap4k2p/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>