<?xml version="1.0" encoding="utf-8"?>
<Media Key="269b05cf-bd98-48b5-bb77-93d52713d01c" Alias="sl-home2.png" Level="2">
  <Info>
    <Parent Key="9355eb93-4995-4f05-994c-ebbd60b654b7">Background Images</Parent>
    <Path>/BackgroundImages/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-13T04:13:29</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/idhn1ehr/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>