<?xml version="1.0" encoding="utf-8"?>
<Media Key="dba37e62-9ec8-4444-aa72-84b9c506eae3" Alias="Team Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-13T04:07:48</CreateDate>
    <NodeName Default="Team Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>