<?xml version="1.0" encoding="utf-8"?>
<Content Key="832fe4ee-d9a8-4d40-a92d-8b3b5e8c4b69" Alias="About" Level="2">
  <Info>
    <Parent Key="e54cf4ff-7999-4ed3-8cac-27557a28c71e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-10-13T04:32:29</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60f8eda8-96d2-4681-82dc-c2abd57dc4f4">aboutPage</Template>
  </Info>
  <Properties>
    <clientTestimonialImage>
      <Value><![CDATA[[
  {
    "key": "d8cbac94-e62c-41a4-b970-f3b4a4137bb4",
    "mediaKey": "c7c8c01a-ac74-42bf-bfaf-e91a89b006a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientTestimonialImage>
    <clientTestimonialSubTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </clientTestimonialSubTitle>
    <clientTestimonialText1>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </clientTestimonialText1>
    <clientTestimonialText2>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </clientTestimonialText2>
    <clientTestimonialText3>
      <Value><![CDATA[Swebank]]></Value>
    </clientTestimonialText3>
    <clientTestimonialTitle>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </clientTestimonialTitle>
    <ourTeamImage1>
      <Value><![CDATA[[
  {
    "key": "dad9134a-3b80-469a-958e-5c428a5bb9f9",
    "mediaKey": "0f9ec30d-7f4b-4676-b117-e9d4b2896955",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage1>
    <ourTeamImage2>
      <Value><![CDATA[[
  {
    "key": "4e59f89d-ca9b-418f-90fc-4452195a4e78",
    "mediaKey": "d7222127-5a26-4b33-882c-55feca4927a3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage2>
    <ourTeamImage3>
      <Value><![CDATA[[
  {
    "key": "b2c8cf06-0317-41ec-960f-c4b51c937e7e",
    "mediaKey": "f2840dce-5314-4d58-8def-250b822041fc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage3>
    <ourTeamImage4>
      <Value><![CDATA[[
  {
    "key": "cc274216-2634-4707-84ae-0df1a963f53a",
    "mediaKey": "40b96386-e9aa-4a5a-abc1-e3e83948ae04",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage4>
    <ourTeamImage5>
      <Value><![CDATA[[
  {
    "key": "691d3d63-fb1f-4a60-b794-92d58d597cc8",
    "mediaKey": "4aad3249-b0d9-4d47-bbe1-8e34ff168bed",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage5>
    <ourTeamImage6>
      <Value><![CDATA[[
  {
    "key": "218d0881-ebc7-47a8-9bba-7d3e157b0bb3",
    "mediaKey": "a4b2e2ce-04ff-484f-afa3-ac0ce5d4d932",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage6>
    <ourTeamImage7>
      <Value><![CDATA[[
  {
    "key": "98bbd64e-ee59-43e7-9010-e535fa032a31",
    "mediaKey": "cfa38c8a-93ec-4930-bdd9-ac52ecdb42cd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamImage7>
    <ourTeamName1>
      <Value><![CDATA[Brandon Newton]]></Value>
    </ourTeamName1>
    <ourTeamName2>
      <Value><![CDATA[AJ Carter]]></Value>
    </ourTeamName2>
    <ourTeamName3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </ourTeamName3>
    <ourTeamName4>
      <Value><![CDATA[Tina Fox]]></Value>
    </ourTeamName4>
    <ourTeamName5>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </ourTeamName5>
    <ourTeamName6>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </ourTeamName6>
    <ourTeamName7>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </ourTeamName7>
    <ourTeamSubTitle>
      <Value><![CDATA[Our expert]]></Value>
    </ourTeamSubTitle>
    <ourTeamText1>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourTeamText1>
    <ourTeamText2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourTeamText2>
    <ourTeamText3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </ourTeamText3>
    <ourTeamText4>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourTeamText4>
    <ourTeamText5>
      <Value><![CDATA[CFO & Co-Founderat Onatrix]]></Value>
    </ourTeamText5>
    <ourTeamText6>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </ourTeamText6>
    <ourTeamText7>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </ourTeamText7>
    <ourTeamTitle>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourTeamTitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <testimonialImage>
      <Value><![CDATA[[
  {
    "key": "74a8e76d-520a-4b28-b60d-cf7b2e2feaec",
    "mediaKey": "c5d63455-1864-4e88-b014-13b3fe568a8b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testimonialImage>
    <testimonialName>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </testimonialName>
    <testimonialText1>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </testimonialText1>
    <testimonialText2>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </testimonialText2>
    <testimonialText3>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum]]></Value>
    </testimonialText3>
    <testimonialText4>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </testimonialText4>
    <testimonialText5>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </testimonialText5>
    <testimonialText6>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum i commodo, eros quis consequat consequat.]]></Value>
    </testimonialText6>
    <testimonialText7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </testimonialText7>
    <testimonialText8>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </testimonialText8>
  </Properties>
</Content>