<?xml version="1.0" encoding="utf-8"?>
<Content Key="3679de6e-5cd2-46c8-bb77-0f0ac64b5041" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e54cf4ff-7999-4ed3-8cac-27557a28c71e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-13T04:34:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32ae4c4c-1369-4724-a62d-7fb7e459bfc1">contactPage</Template>
  </Info>
  <Properties>
    <brandImage1>
      <Value><![CDATA[[
  {
    "key": "fffb07ea-8631-4de9-bc77-e92185c460b9",
    "mediaKey": "1a9d609e-bb2c-4d1d-aa8c-8960817b93ea",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage1>
    <brandImage2>
      <Value><![CDATA[[
  {
    "key": "806ba69d-7c74-4ab2-94e3-63d127e15fd4",
    "mediaKey": "a33d4288-be8f-4b28-97b2-0d377cbb9a06",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage2>
    <brandImage3>
      <Value><![CDATA[[
  {
    "key": "3ee4177f-db68-4365-8126-76d5e37daa5b",
    "mediaKey": "c0dbb1fc-c2da-42b3-8a83-e77577dc8617",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage3>
    <brandImage4>
      <Value><![CDATA[[
  {
    "key": "488ae4b9-2565-441a-9f8d-5a6808c1eea0",
    "mediaKey": "86fed82b-e957-49e6-bea7-59696c09938d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage4>
    <brandImage5>
      <Value><![CDATA[[
  {
    "key": "05307394-80ec-4074-8707-6e135201687e",
    "mediaKey": "ae7ce04f-daa0-444a-8e6f-05b1c88146b7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage5>
    <brandImage6>
      <Value><![CDATA[[
  {
    "key": "3c3f90e4-51a2-4e53-bb3f-02beebd3dd10",
    "mediaKey": "fa6e1243-5670-4287-b9ab-c1c20f1a4d5e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandImage6>
    <contactMap>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Ciframe src=\u0022https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d130266.5102580981!2d17.817250282530072!3d59.32603795456034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f763119640bcb%3A0xa80d27d3679d7766!2sStockholm!5e0!3m2!1ssv!2sse!4v1727523677788!5m2!1ssv!2sse\u0022 width=\u0022100%\u0022 height=\u0022450\u0022 style=\u0022border: 0;\u0022 allowfullscreen=\u0022allowfullscreen\u0022 loading=\u0022lazy\u0022 referrerpolicy=\u0022no-referrer-when-downgrade\u0022\u003E\u003C/iframe\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactMap>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>