<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6404e27-fb36-45a1-b5d2-bbd588640d9b" Alias="Services" Level="2">
  <Info>
    <Parent Key="e54cf4ff-7999-4ed3-8cac-27557a28c71e">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-10-13T04:33:03</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a25e051d-bfb0-4fd9-9154-3402b92ef718">servicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>